.exchange_box{
    .card{
      border: 0;
      .card-header{
        background-color: #4B088A;
        border-radius: 0;
        color: white;
        font-weight: 700;
      }
      .card-block{
        padding-top: 10px;
        .title{
          color: #585858;
          font-weight: 700;
        }
        .btn-exchange{
          background-color: #4B088A;
          border-color: #4B088A;
          border-radius: 0;
        }
      }
    }
  }
